*

!*.*
!*/

*.a
*.tgz
*.patch
*.gz
*.bk
poco/poco-1.7.8p2/**
**/build
**/tempCodeRunnerFile.php
**/node_modules
**/vendor
**/cache
**/templates_c
**/composer.lock
package-lock.json

**/__pycache__/**
*.pyc
*.exe
__debug_bin
**/bookmarks.json
**/go.sum

.DS_Store
Go/demo/pkg/mod/

**/creator.d.ts